body {
    color: black;
    background: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

#alertasClimaticos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 40em;
    gap: 20px;
}

li {
    transform: translateY(-2em);
}

.alerta-inmet {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 40em;
    justify-content: center;
    align-items: center;
    border: solid black 3px;
    width: 37.7em;
    border-radius: 30px;
}

#ulprev:focus {
    outline: none;
}


.instrucoes {
    cursor: pointer;
    border: solid black;
    border-radius: 30px;
    background: rgb(65, 169, 225);
    color: white;
    text-shadow: black 1px 1px 1px;
}

.instrucoesvoltar {
    cursor: pointer;
    border: solid black;
    border-radius: 30px;
    background: rgb(65, 169, 225);
    color: white;
    text-shadow: black 1px 1px 1px;
    width: 8em;
    margin-left: 11em;
}


.prevencoes {
    align-items: center;
    text-align: center;
}

strong {
   color: red;
}

.strongseveridade {
    text-shadow: black 1px 1px 2px;
    text-decoration: underline;
    cursor: pointer;
}

.h2prev {
    transform: translateY(-0.5em);
    cursor: pointer;
}

.descriscos {
    text-align: center;
}

.h4 {
    font-weight: bold;
    text-decoration:dotted;
    font-size: 20px;
}

.prevencoesdiv {
    display: flex;
    flex-direction: column;
}
